.form {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.submit {
    background-color: #00dc5a;
    color: grey;
    padding: 8px 20px;
    text-transform: uppercase;
    border: none;
}
