.App {
  background-color: #282c34;
  padding: 32px;
  height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
  height: 10vh;
  display: block;
  margin: 0 auto;
}

.header {
  padding-bottom: 32px;
}

.link {
  background-color: #00dc5a;
  color: grey;
  font-size: 14px;
  padding: 8px 20px;
  text-transform: uppercase;
  text-decoration: none;
}
