.App {
  background-color: #282c34;
}

.App-logo {
  height: 10vh;
}

.App-header {
  min-height: 10vh;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content, .App-form {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.App-link {
  color: #09d3ac;
}
